VITE_SUPABASE_URL= url
VITE_SUPABASE_ANON_KEY= key
VITE_STUDENT_VIEW_URL= url
VITE_HEXFORGE_FILE_HELPER_PORT=47821
VITE_SUPPORT_EMAIL=
VITE_QUOTE_EMAIL=
VITE_QUOTE_ORGANIZATION_NAME=
VITE_QUOTE_SERVICE_NAME=
VITE_QUOTE_LOCATION_NAME=
VITE_QUOTE_ADDRESS_LINES=
VITE_QUOTE_PHONE=
VITE_QUOTE_PAYMENT_INSTRUCTIONS=
VITE_QUOTE_COST_CENTRE_ACCOUNT=
VITE_QUOTE_COLLECTION_LOCATION=
BOOKINGS_SUPABASE_URL=
BOOKINGS_SUPABASE_ANON_KEY=
STUDENT_VIEW_URL=
